<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=locals.title ? title:"Dashboard | IXNote Enterprise"  %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="icon" href="" type="image/icon type">
</head>
<body>
    <div class="">
        <div class="dashboard">

            <h1>Number Of Users Currently Registered</h1>
            <h1>You Inclusive</h1>
            <h5><%= users.length %></h5>
    
        </div>
    </div>

    <!-- <script src="js/main.js"></script> -->
</body>
</html>