<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%=locals.title ? title:'Register User | IXNote Enterprise'  %}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="icon" href="" type="image/icon type">
</head>
<body>
    <div class="hero-bg">
        <div class="top-right">

            <h1>Sign UP</h1>
            <form action="/api/register" method="POST">
                <div class="input-field">
                    <label for="email">EMAIL</label>
                    <input type="email" name="email" id="email">
                </div>
                <div class="input-field">
                    <label for="firstname">FIRST NAME</label>
                    <input type="text" name="firstname" id="firstname">
                </div>
                <div class="input-field">
                    <label for="lastname">LAST NAME</label>
                    <input type="text" name="lastname" id="lastname">
                </div>
                <div class="input-field">
                    <label for="password">PASSWORD</label>
                    <input type="password" name="password" id="password">
                </div>
                <div class="btn">
                    <input type="submit" value="Register">
                </div>
            </form>
    
        </div>
    </div>

    <!-- <script src="js/main.js"></script> -->
</body>
</html>